directory.dtd.xml

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT directory (person*, infos?)>
<!ELEMENT person (name, firstname, middlename?, gender, phone+)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT middlename (#PCDATA)>
<!ELEMENT gender (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ATTLIST phone type (home|work|mobile) #REQUIRED>